/* 路由fade切换动画 */
.router-fade-enter-active, .router-fade-leave-active {
	transition: opacity .2s;
}
.router-fade-enter, .router-fade-leave-to {
	opacity: 0;
}
/* 路由slide互动切换页面 */
.router-slide-enter-active, .router-slide-leave-active {
	transition: all .4s;
}
.router-slide-enter, .router-slide-leave-to {
	transform: translate3d(100%, 0, 0);
	opacity: 0;
}
/* 路由从下至上切换动画 */
.router-updown-enter-active, .router-updown-leave-active {
	transition: all .4s;
}
.router-updown-enter, .router-updown-leave-to {
	transform: translate3d(0, 100%, 0);
	opacity: 0;
}