#app {
  width: 100%;
  height: 100%;
  font-family: $--font-family;
}
.span__text--hover-color {
  cursor: pointer;
  &:hover{
      color: $--text-hover-color;
  }
}
.full-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
