/*以下为公告样式*/
* {
  padding: 0;
  margin: 0;
  /*去除点击时，文字出现的蓝色底边*/
  @include compatibility((user-select: none));
}
input { 
  user-select: text!important; 
  -webkit-user-select:text!important;
}
textarea { 
  user-select: text!important; 
  -webkit-user-select:text!important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
input, textarea {
  outline: none;
}
html, body {
  width: 100%;
  height: 100%;
}
// 设置border-box
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

// 设置line-height
/* body {
  line-height: 1.5;
} */


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden; 
    height: 0;
  }
}

.block--float-right {
  float: right;
  *display: inline; 
  _display: inline;
}
.block--float-left {
  float: left;
  *display: inline; 
  _display: inline;
}
.flex-center {
  display: flex;
  align-items: center;
}
.headline-upper-text{
  font-weight: bold;
  font-size: $--common-headline-upper-font-size;
  color: $--common-text-font-color; 
}
.headline-text{
  font-size: $--common-headline-font-size;
  color: $--common-text-font-color; 
}
.subtitle-text{
  font-size: $--common-subtitle-font-size;
  color: $--common-text-font-color;   
}
// 32px #484848
.headline-desc-text{
  font-size: $--common-headline-desc-font-size;
  color: $--common-text-font-color;
}
// 36px #333333
.detail-desc-text{
  font-size: $--common-subtitle-font-size;
  color: $--common-detail-title-font-color;
}
.price-text{
  font-size: $--common-headline-font-size;
  color: $--common-price-text-font-color;
}
.btn-text{
  font-size: $--common-button-text-font-size;
  color: $--common-text-font-color;  
}