
// 公共样式变量
$--font-family: "pingFangSC-Regular", "Microsoft Yahei" !default;
$--text-hover-color: red !default;

// IndexPage页面样式变量
$--index-tab-background: #fff !default;
$--index-tab-home-background: url("@~assets/images/index/tabbar_home_nor.png") center center no-repeat !default;
$--index-tab-select-home-background: url("@~assets/images/index/tabbar_home_pre.png") center center no-repeat !default;
$--index-tab-course-background: url("@~assets/images/index/tabbar_course_nor.png") center center no-repeat !default;
$--index-tab-select-course-background: url("@~assets/images/index/tabbar_course_pre.png") center center no-repeat !default;
$--index-tab-me-background: url("@~assets/images/index/tabbar_me_nor.png") center center no-repeat !default;
$--index-tab-select-me-background: url("@~assets/images/index/tabbar_me_pre.png") center center no-repeat !default;
$--index-tab-message-background: url("@~assets/images/index/tabbar_message_nor.png") center center no-repeat !default;
$--index-tab-select-message-background: url("@~assets/images/index/tabbar_message_pre.png") center center no-repeat !default;
$--index-tab-place-background: url("@~assets/images/index/tabbar_place_nor.png") center center no-repeat !default;
$--index-tab-select-place-background: url("@~assets/images/index/tabbar_place_pre.png") center center no-repeat !default;
$--index-background-color: #fff !default;
$--index-header-z-index: 1 !default;
$--index-banner-background-color: #eee !default;
$--index-title-background-border-bottom-color: #ddd !default;
$--index-link-font-size: 1.2rem !default;
$--index-link-color: #666 !default;
$--index-link-hover-color: red !default;
$--index-link-loginout-color: #eee !default;
$--index-main-z-index: 0 !default;
$--index-shopping-cart-background-color: #fff !default;
$--index-shopping-cart-font-size: 2rem !default;
$--index-shopping-cart-border-top-color: #fff !default;
$--index-shopping-cart-z-index: 1 !default;
$--index-shopping-cart-inner-color: #333 !default;

// homePage页面样式变量
$--index-home-background: url("@~assets/images/index/home/home_icon_search.png") center center no-repeat !default;
$--index-home-teacher-male-background: url("@~assets/images/index/home/home_icon_male.png") center center no-repeat !default;
$--index-home-teacher-female-background: url("@~assets/images/index/home/home_icon_female.png") center center no-repeat !default;
$--index-home-nor: url("@~assets/images/index/home/home_btn_price_nor.png") center center no-repeat !default;
// productsPage页面样式变量
$--product-nav-font-size: 1.6rem !default;
$--product-nav-item-border-bottom-color: #e9e9e9 !default;
$--product-nav-item-hover-color: red !default;
$--product-nav-item-active-color: red !default;
$--product-list-link-color: #999 !default;
$--product-list-link-hover-color: red !default;
$--product-list-item-border-color: #fff !default;
$--product-list-item-hover-border-color: #e9e9e9 !default;
$--product-price-color: #e4393c !default;
$--product-title-color: #666 !default;
$--product-desc-color: #999 !default;
$--product-btn-border-color: #fff !default;

// registerPage页面
$--register-form-top: 0.68rem !default;
$--register-btn-select-background: url("@~assets/images/reg_btn_identity_sel.png") center center no-repeat !default;
$--register-btn-no-select-background: url("@~assets/images/reg_btn_identity_nor.png") center center no-repeat !default;
$--register-btn-background: url("@~assets/images/funstuye_btn_long_nor.png") center center no-repeat !default;
$--register-btn-click-background: url("@~assets/images/funstuye_btn_long_disabled.png") center center no-repeat !default;
$--register-form-font-size: 0.32rem !default;
$--register-form-item-title-font-size: 0.6rem !default;
$--register-form-foget-password-link-color: #7E7E7E !default;

// loginPage页面
$--login-form-top: 3.01rem !default;
$--login-background: url("@~assets/images/login_bg.png") center center no-repeat !default;
$--login-btn-background: url("@~assets/images/funstuye_btn_long_nor.png") center center no-repeat !default;
$--login-btn-click-background: url("@~assets/images/funstuye_btn_long_disabled.png") center center no-repeat !default;
$--login-form-font-size: 0.36rem !default;
$--login-form-item-title-font-size: 0.54rem !default;
$--login-form-foget-password-link-color: #7E7E7E !default;
// messagePage页面
$--message-search-background: url("@~assets/images/index/message_btn_search.png") center center no-repeat !default;
$--message-system-icon: url("@~assets/images/message_icon_sys.png") center center no-repeat !default;
// messagePage页面
$--me-btn-setting: url("@~assets/images/index/profile/me_btn_setting.png") center center no-repeat !default;

// judgePage页面
$--judge-icon-gray-background: url("@~assets/images/index/course_icon_score_gray_big.png") center center no-repeat !default;
$--judge-icon-red-background: url("@~assets/images/index/course_icon_score_red_big.png") center center no-repeat !default;
// searchTeacherPage
$--search-teacher-male-background: url("@~assets/images/index/home/home_icon_male.png") center center no-repeat !default;
$--search-teacher-role-background: url("@~assets/images/index/home/home_icon_teacher.png") center center no-repeat !default;
$--search-contact-background: url("@~assets/images/index/home/home_btn_price_nor.png") center center no-repeat !default;
// accountPage页面
$--account-nav-font-size: 1.3rem !default;
$--account-nav-background-color: #fff !default;
$--account-nav-list-link-color: #999 !default;
$--account-nav-list-link-hover-color: red !default;
$--account-nav-list-router-link-active: red !default;
$--account-nav-list-title-color: #000 !default;
$--account-main-content-background-color: #fff !default;

// accountOrderPage页面
$--account-order-color: #797676 !default;
$--account-order-font-size: 1.2rem !default;

// accountCartPage页面
$--account-cart-font-size: 1.4rem !default;
$--account-cart-table-head-class: #eee !default;
$--account-cart-color: #999 !default;
$--account-cart-border-color: #eee !default;
$--account-cart-title-color: #797676 !default;
$--account-cart-add-addr-hover-color: red !default;
$--account-cart-empty-font-size: 1.6rem !default;
$--account-cart-checkout-color: #999 !default;
$--account-cart-totla-price-font-size: 1.2rem !default;
$--account-cart-address-list-font-size: 1.2rem !default;
$--account-cart-address-list-border-color: #ccc !default;
$--account-cart-address-list-title-color: #797676 !default;
$--account-cart-address-list-item-color: #666 !default;
$--account-cart-address-list-item-hover-background-color: #fff3f3 !default;
$--account-cart-address-list-item-span-border-color: #ccc !default;
$--account-cart-address-list-item-span-background-color: #fff !default;
$--account-cart-address-list-item-span-hover-border-color: red !default;
$--account-cart-address-list-item-span-default-border-color: red !default;
$--account-cart-table-color: #999 !default;
$--account-cart-table-font-size: 1.3rem !default;
$--account-cart-table-background-color: #fff !default;
$--account-cart-table-prod-quantity-btn-border-color: #999 !default;
$--account-cart-table-input-color: #999 !default;
$--account-cart-table-input-font-size: 1.3rem !default;
$--account-cart-table-input-background-color: #eee !default;

// accountAddressPage页面
$--account-address-list-wrap-font-size: 1.2rem !default;
$--account-address-list-item-border-color: #eee !default;
$--account-address-list-text-color: #aaa !default;

// accountAddressFormPage页面
$--account-address-form-wrap-font-size: 1.2rem !default;
$--account-address-form-require-tag-color: red !default;

// 课室页面样式
$--place-headline-icon-background: url("@~assets/images/index/place/location.png") center center no-repeat !default;
$--place-icon-wifi: url("@~assets/images/index/place/icon_wifi.png") center center no-repeat !default;
$--place-icon-park: url("@~assets/images/index/place/icon_park.png") center center no-repeat !default;
$--place-icon-tv: url("@~assets/images/index/place/icon_tv.png") center center no-repeat !default;
$--place-icon-pen: url("@~assets/images/index/place/icon_pen.png") center center no-repeat !default;
$--place-icon-air: url("@~assets/images/index/place/icon_air.png") center center no-repeat !default;
$--place-icon-big-wifi: url("@~assets/images/index/place/icon_place_wifi.png") center center no-repeat !default;
$--place-icon-big-park: url("@~assets/images/index/place/icon_place_park.png") center center no-repeat !default;
$--place-icon-big-tv: url("@~assets/images/index/place/icon_place_tv.png") center center no-repeat !default;
$--place-icon-big-pen: url("@~assets/images/index/place/icon_place_pen.png") center center no-repeat !default;
$--place-icon-big-air: url("@~assets/images/index/place/icon_place_air.png") center center no-repeat !default;
$--place-banner: url("@~assets/images/index/place/banner.png") center center no-repeat !default;
$--place-room-pic: url("@~assets/images/index/place/room.png") center center no-repeat !default;
// 公共样式变量库
$--common-headline-upper-font-size: 0.6rem !default; // 60px大标题
$--common-headline-font-size: 0.48rem !default; // 48px大标题
$--common-subtitle-font-size: 0.36rem !default; // 36px小标题
$--common-headline-desc-font-size: 0.32rem !default; // 32px大标题下的介绍文字
$--common-article-text-font-size: 0.34rem !default; // 34px正文内容
$--common-button-text-font-size: 0.3rem !default; // 30px按钮文字
$--common-illustration-text-font-size: 0.24rem !default; //24px说明内容
$--common-illustration-lower-text-font-size: 0.22rem !default; //22px次级说明内容
$--common-text-font-color: #484848 !default; // 正常文字颜色
$--common-subtitle-font-color: #7E7E7E !default; // 副标题颜色
$--common-price-text-font-color: #F098BE !default; //粉色重要文字颜色
$--common-selectd-text-font-color: #57B8D7 !default; //蓝色选中颜色
$--common-other-text-font-color: #FFAF14 !default; //橙色点缀颜色
$--common-detail-title-font-color: #333333 !default; // 详情标题
// 星星(组件调用路径)
$--star-icon-gray-background: url("@~assets/images/star_gray_small.png") center center no-repeat !default;
$--star-icon-red-background: url("@~assets/images/star_red_small.png") center center no-repeat !default;
$--btn-select-background: url("@~assets/images/btn_select_sel.png") center center no-repeat !default;
$--btn-select-nor-background: url("@~assets/images/btn_select_nor.png") center center no-repeat !default;
$--btn-select-disabled-background: url("@~assets/images/btn_select_sel.png") center center no-repeat !default;
$--calendar-left-icon: url("@~assets/images/index/profile/sign_left.png") center center no-repeat !default;
$--calendar-right-icon: url("@~assets/images/index/profile/sign_right.png") center center no-repeat !default;
$--me-score-icon: url("@~assets/images/index/profile/me_icon_score.png") center center no-repeat !default;
$--me-score-icon-small: url("@~assets/images/index/profile/me_icon_score_small.png") center center no-repeat !default;
$--me-score-icon-white: url("@~assets/images/index/profile/me_icon_score_white.png") center center no-repeat !default;
// 后退关闭
$--nav-back-icon: url("@~assets/images/back.png") center center no-repeat !default;
$--nav-close-icon: url("@~assets/images/close.png") center center no-repeat !default;